# db related settings
spring.datasource.url=jdbc:postgresql://db:5432/spring
spring.datasource.username=postgres
spring.datasource.password=root_password
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.hbm2ddl.auto=update
spring.jpa.open-in-view=false

# redis related settings
spring.redis.host=redis
spring.redis.port=6379

# create default admin account
default.admin.username=admin
default.admin.password=pa55ward
default.admin.email=admin@email.com

# jwt related settings
jwt.issuer=joejoe2.com
jwt.secret.privateKey=
jwt.secret.publicKey=
# in seconds
jwt.access.token.lifetime=900
jwt.refresh.token.lifetime=1800

# set allow host (frontend)
allow.host=http://localhost:8888
# set reset password url
reset.password.url=http://localhost:8888/resetPassword?token=

# login max attempt settings
login.maxAttempts=5
# in seconds
login.attempts.coolTime=900

# mail sender
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=test@gmail.com
spring.mail.password=pa55ward
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

# for nginx
server.forward-headers-strategy=native
server.tomcat.remote-ip-header=x-forwarded-for
server.tomcat.protocol-header=x-forwarded-proto

# jobrunr
org.jobrunr.background-job-server.enabled=true
org.jobrunr.dashboard.enabled=false
org.jobrunr.database.type=sql
init.recurrent-job=true

# open api
springdoc.api-docs.enabled=false
springdoc.swagger-ui.enabled=false
